#container{
    display:flex;
    flex-wrap: wrap;
    background-color: rgb(211, 234, 241);
    border: indigo solid 3px;
}

.sqr{
    border:rgb(80, 53, 18) solid 1px;
    background-color: rgb(255, 199, 208);
}

.sqr:hover{
    background-color: rgb(248, 131, 150);
}